Scrapy
aiohttp>=3.5.4
aiodns>=2.0.0
attrs==19.1.0
maxminddb>=1.4.1
# black>=18.9-beta.0 # temporarily disabled for python 3.5
# ProxyBroker dev.txt
flake8>=3.7
isort>=4.3
pytest>=4.3
pytest-asyncio>=0.10
pytest-runner>=4.4
pytest-isort>=0.3
pytest-flake8>=1.0
pytest-mock>=1.10.1
pyopenssl 
cryptography>=2.8
pyasn1
pyasn1-modules
automat
twisted
paramiko
argparse
pymongo
sshtunnel
requests
pytz
tzlocal
scrapyd
python-dateutil
persistqueue
PyGithub
google-auth 
google-auth-httplib2 
google-api-python-client
oauth2client 
xlrd 
pandas
pillow
tweepy
flask
Flask-PyMongo
flask-session 
redis
apscheduler
tika
PyPDF2
nltk
emoji
#fairseq
#fastBPE
ratelimit